<Cake>PHP?//*3*</cake>
(O,'View...<a href="http://www.rworldoffice.com"></a>

/vendor/*  }
<pre>
&lt;sub&gt;Cake..3/.&lt;/sub&gt;
</pre>

/config/app.php/.cottage_mobile;com/<a :if=" class btn "large">class=" btn;>set;id=5
/tmp/*3)
/logs/*/#/&amp;

CakePHP 2);

/app/tmp/*/%cottage%><a site;UT&lt;I&gt;</a>)any #
/app/Config/core.php?
/app/Config/database.<php_;id=)<3/ 0)
/vendors/*new
;//s2;>if O
